<div class="State container">
  <div class="state col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="header fadeInUp col-md-5" style="animation-delay: 0.5s;">
          <div class="header-mid">
              <div class="last-update col-md-5">
                  <h6>Last Updated</h6>
                  <h4 class="difference-time" style=" color: #0bb332fa; font-weight: 600; " *ngIf='lastupdated.hour==0; else elseBlock'> {{lastupdated.minute}} minutes ago</h4>
                  <ng-template #elseBlock>{{lastupdated.hour}} hour {{lastupdated.minute}} minutes ago</ng-template>
                  <h5 style=" color: #0bb332fa; font-weight: 600;" class="refreshed-time">{{lastrefreshedtime | date:'dd MMM, hh:mm'}} IST</h5>
              </div>
          </div>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ">
  <div class="MapExplorer fadeInUp hide-xs" style="animation-delay: 1.2s; ">
      <div class="header ">
          <!-- <h6>Click on a state for more details</h6> -->
      </div>
      <div class="meta1 " *ngIf="SingleStateData">
          <button class="btn btn-success" (click)="showHideData(data) " style="font-weight: 600; ">{{SingleStateData.state}}</button>
      </div>
  </div>
  <div class=" map-stats hide-xs " *ngIf="SingleStateData">
      <div class="stats no-padd col-xs-3 ">
          <h5>Confirmed</h5>
          <div class="stats-bottom ">
              <h1>{{SingleStateData.confirmed}}</h1>
              <h6></h6>
          </div>
      </div>
      <div class="stats is-blue no-padd col-xs-3 ">
          <h5>Active</h5>
          <div class="stats-bottom ">
              <h1>{{SingleStateData.active}}</h1>
              <h6></h6>
          </div>
      </div>
      <div class="stats is-green no-padd col-xs-3 ">
          <h5>Recovered</h5>
          <div class="stats-bottom ">
              <h1>{{SingleStateData.recovered}}</h1>
              <h6></h6>
          </div>
      </div>
      <div class="stats is-gray no-padd col-xs-3 ">
          <h5>Deceased</h5>
          <div class="stats-bottom ">
              <h1>{{SingleStateData.deaths}}</h1>
              <h6></h6>
          </div>
      </div>
  </div>
  <table>
      <tbody *ngFor="let data of statewisedata;let i=index ">
      <tr class="nohover" app-district *ngIf=" data[ 'show'] "></tr>
    </tbody>
  </table>
</div>
</div>
</div>
